<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    --bright-blue: oklch(51.01% 0.274 263.83);
    --electric-violet: oklch(53.18% 0.28 296.97);
    --french-violet: oklch(47.66% 0.246 305.88);
    --vivid-pink: oklch(69.02% 0.277 332.77);
    --hot-red: oklch(61.42% 0.238 15.34);
    --orange-red: oklch(63.32% 0.24 31.68);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --red-to-pink-to-purple-vertical-gradient: linear-gradient(180deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --red-to-pink-to-purple-horizontal-gradient: linear-gradient(90deg,
        var(--orange-red) 0%,
        var(--vivid-pink) 50%,
        var(--electric-violet) 100%);

    --pill-accent: var(--bright-blue);

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }



  p {
    margin: 0;
    color: var(--gray-700);
  }

  main {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: inherit;
    position: relative;
  }

  .angular-logo {
    max-width: 9.2rem;
  }

  .content {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 700px;
    margin-bottom: 3rem;
  }

  .content h1 {
    margin-top: 1.75rem;
  }

  .content p {
    margin-top: 1.5rem;
  }

  .divider {
    width: 1px;
    background: var(--red-to-pink-to-purple-vertical-gradient);
    margin-inline: 0.5rem;
  }

  .pill-group {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    gap: 1.25rem;
  }

  .pill {
    display: flex;
    align-items: center;
    --pill-accent: var(--bright-blue);
    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);
    padding-inline: 0.75rem;
    padding-block: 0.375rem;
    border-radius: 2.75rem;
    border: 0;
    transition: background 0.3s ease;
    font-family: var(--inter-font);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem;
    letter-spacing: -0.00875rem;
    text-decoration: none;
  }

  .pill:hover {
    background: color-mix(in srgb, var(--pill-accent) 15%, transparent);
  }

  .pill-group .pill:nth-child(6n + 1) {
    --pill-accent: var(--bright-blue);
  }

  .pill-group .pill:nth-child(6n + 2) {
    --pill-accent: var(--french-violet);
  }

  .pill-group .pill:nth-child(6n + 3),
  .pill-group .pill:nth-child(6n + 4),
  .pill-group .pill:nth-child(6n + 5) {
    --pill-accent: var(--hot-red);
  }

  .pill-group svg {
    margin-inline-start: 0.25rem;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 0.73rem;
    margin-top: 1.5rem;
  }

  .social-links path {
    transition: fill 0.3s ease;
    fill: var(--gray-400);
  }

  .social-links a:hover svg path {
    fill: var(--gray-900);
  }

  @media screen and (max-width: 650px) {
    .content {
      flex-direction: column;
      width: max-content;
    }

    .divider {
      height: 1px;
      width: 100%;
      background: var(--red-to-pink-to-purple-horizontal-gradient);
      margin-block: 1.5rem;
    }


  }
</style>

<style>
  * {
    font-family: monospace;
  }

  h3 {
    margin-top: 0px;
    ;
  }



  label {
    font-weight: bold;
    margin-bottom: 6px;
    display: inline-block;
    min-width: 100px;
  }

  .statWrapper input {
    width: 45px;
    border: 1px solid #0936bd69;
    border-radius: 4px;
    padding: 2px 2px 2px 8px;
    font-size: 21px;
  }



  .statItemWrapper {
    --pill-accent: #0936bd;

    background: color-mix(in srgb, var(--pill-accent) 5%, transparent);
    color: var(--pill-accent);


    border-radius: 4px;
    padding: 4px 8px;
  }
</style>




<h1>Ap system Heading</h1>
<br>

<p>Placeholder paragraph</p>

<label>Upload mapping Json file </label>

<input type="file" class="form-control" id="file" (change)="uploadFile($event)" />
<br>

<section class="sectionWrapper d-block w-100">
  <div class="sectionInner section-flex ">

    <div *ngFor="let stat of baseStats; index as i;" class="statItemWrapper">


      <div class="progress-bar__wrapper">

        <label> {{stat.name}} </label>

        <input type="number" id="stat{{stat.name}}" [(ngModel)]="stat.value" min=0 max="{{stat.maxValue}}">
        <input type="number" id="statMax{{stat.name}}" [(ngModel)]="stat.maxValue" min=0 max="{{stat.maxValue}}"
          disabled>

      </div>


    </div>

  </div>


</section>


<section class="sectionWrapper w-100">
  <div class="sectionInner">
    <h3>
      Stats
    </h3>

    <div class="statWrapper section-flex">


      <div *ngFor="let stat of playerStats; index as i;" class="statItemWrapper">

        <label> {{stat.name}} </label>
        <input type="number" id="stat{{stat.name}}" [(ngModel)]="stat.value"
          (ngModelChange)="statChanged($event , stat)">
        <!-- <input type="checkbox" id="check{{stat.name}}" value="{{stat.calc}}"> -->

        <span style="border:1px solid grey; border-radius: 30px; height :10px; width: 10px; display: inline-block;">
        </span>


      </div>



      <!-- <div>
        <label> Strength</label>
        <input type="number" id="statStrength">
        <input type="checkbox" id="checkStrength" onclick="toggleStat('checkStrength' , 'statStrength' )">
      </div> -->



      <input type="number" id="statTotal" [(ngModel)]="statTotal">


    </div>
  </div>
</section>


<section class="sectionWrapper d-block">
  <div class="sectionInner">
    <h4>
      Actions
    </h4>

    <div>
      <label> AP </label>
      <div style="font-size: 18px;">
        <Span id="apCurrent"> {{apCurrent}} </Span>
        /
        <Span id="apMax"> {{apMax}} </Span>
      </div>
    </div>

    <div style="display: flex ; flex-direction: row; flex-wrap: nowrap; gap: 15px;">
      <div style="margin-top: 10px; " class="btnActionWrapper w-100">



        <button class="actionBtn" (click)="useAction(1)" [disabled]="!(apCurrent >= 1) "> Move 30ft (1) </button>


        <button class="actionBtn" (click)="useAction(1)" [disabled]="!(apCurrent >= 1) "> Inspect </button>
        <button class="actionBtn" (click)="useAction(1)" [disabled]="!(apCurrent >= 1) "> Use Object </button>



      </div>


      <div style="margin-top: 10px; " class="btnActionWrapper w-100">




        <button class="actionBtn" (click)="useAction(1)" [disabled]="!(apCurrent >= 1) "> Light Attack (1) </button>
        <button class="actionBtn" (click)="useAction(1)" [disabled]="!(apCurrent >= 2) "> Heavy Attack (2) </button>

        <button class="actionBtn" (click)="useAction(1)" [disabled]="!(apCurrent >= 1) "> Block </button>


        <button class="nextBtn" (click)="nextTurn()"> Next turn </button>
      </div>

    </div>

  </div>



  <hr>
  <section class="">
    <input type="number" disabled id="statCalc">

  </section>
</section>


<div class="accordion" id="accordionExample">
  <div class="accordion-item">

    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">

        Turn 1

      </button>
    </h2>

    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
      data-bs-parent="#accordionExample">

      <div class="accordion-body">

        On your turn you can Move or Interact with a object or feature of the environment.
        <br>
        Movement can take the form of walking, climbing and swimming. <br>
        Interactions include, Attacking, Using Objects, Or Investigating.<br>
        <br>
        Different actions have Different costs.


      </div>
    </div>

  </div>


  <div class="accordion-item">

    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>

    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">



      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin
        adds
        the appropriate classes that we use to style each element. These classes control the overall appearance, as well
        as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our
        default variables. It's also worth noting that just about any HTML can go within the
        <code>.accordion-body</code>,
        though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>




<router-outlet></router-outlet>